<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/256c1c87-fd04-4467-83d6-a71ce2b6dd19/resourcegroups/WebCoffee/providers/Microsoft.Web/sites/CoffeeUtilidadesAPI</ResourceId>
    <ResourceGroup>WebCoffee</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://coffeeutilidadesapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e4b413cf-f8f0-4191-a6e4-e9265ec9b7b2</ProjectGuid>
    <PublishUrl>https://coffeeutilidadesapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CoffeeUtilidadesAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>